@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-hsl: 220 13% 95%;
    --foreground-hsl: 224 71% 4%;
    --card-hsl: 220 14% 97%;
    --card-foreground-hsl: 224 71% 4%;
    --popover-hsl: 0 0% 100%;
    --popover-foreground-hsl: 224 71% 4%;
    --primary-hsl: 221 39% 27%;
    --primary-foreground-hsl: 210 20% 98%;
    --secondary-hsl: 220 14.3% 95.9%;
    --secondary-foreground-hsl: 222.2 47.4% 11.2%;
    --muted-hsl: 220 9% 46%;
    --muted-foreground-hsl: 220 9% 46%;
    --accent-hsl: 265 53% 52%;
    --accent-foreground-hsl: 210 20% 98%;
    --destructive-hsl: 0 84% 60%;
    --destructive-foreground-hsl: 210 20% 98%;
    --border-hsl: 220 13% 91%;
    --input-hsl: 220 13% 91%;
    --ring-hsl: 221 39% 27%;
    --radius: 0.75rem;

    /* Custom theme vars */
    --card-about-bg: #3D405B;
    --card-work-bg: #81B29A;
  }
 
  :root {
    --background: hsl(var(--background-hsl));
    --foreground: hsl(var(--foreground-hsl));
    --card: hsl(var(--card-hsl));
    --card-foreground: hsl(var(--card-foreground-hsl));
    --popover: hsl(var(--popover-hsl));
    --popover-foreground: hsl(var(--popover-foreground-hsl));
    --primary: hsl(var(--primary-hsl));
    --primary-foreground: hsl(var(--primary-foreground-hsl));
    --secondary: hsl(var(--secondary-hsl));
    --secondary-foreground: hsl(var(--secondary-foreground-hsl));
    --muted: hsl(var(--muted-hsl));
    --muted-foreground: hsl(var(--muted-foreground-hsl));
    --accent: hsl(var(--accent-hsl));
    --accent-foreground: hsl(var(--accent-foreground-hsl));
    --destructive: hsl(var(--destructive-hsl));
    --destructive-foreground: hsl(var(--destructive-foreground-hsl));
    --border: hsl(var(--border-hsl));
    --input: hsl(var(--input-hsl));
    --ring: hsl(var(--ring-hsl));
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@tailwind utilities {
  .bg-dot-grid {
    background-image: radial-gradient(circle, hsl(var(--foreground-hsl) / 0.1) 1px, transparent 1px);
    background-size: 2rem 2rem;
  }
  .mask-image-gradient {
    mask-image: radial-gradient(circle at center, white, transparent 60%);
    -webkit-mask-image: radial-gradient(circle at center, white, transparent 60%);
  }
}
