.dot-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.dot-grid__wrap {
  width: 100%;
  height: 100%;
}

.dot-grid__canvas {
  width: 100%;
  height: 100%;
  display: block;
  background-color: transparent;
}
